@mixin font($font_name, $file_name) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.eot");
    src: url("../fonts/#{$file_name}.eot") format("embedded-opentype"),
    url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2"),
    url("../fonts/#{$file_name}.ttf") format("truetype"),
    url("../fonts/#{$file_name}.svg##{$font_name}") format("svg");
  }
}